<launch>
    <!-- Define an argument to enable/disable RViz -->
    <arg name="use_rviz" default="false"/>

    <!-- Load parameters from YAML -->
    <rosparam file="$(find icetrack)/config/general.yaml" command="load"/>
    <rosparam file="$(find icetrack)/config/navigation.yaml" command="load" ns="navigation"/>
    <rosparam file="$(find icetrack)/config/mapping.yaml" command="load" ns="mapping"/>

    <!-- Conditionally launch RViz -->
    <group if="$(arg use_rviz)">
        <node 
            name="rviz" pkg="rviz" type="rviz" output="screen" 
            args="-d /home/oskar/icetrack/src/icetrack/config/rviz.rviz" />
    </group>

    <!-- Launch main node -->
    <node 
        name="icetrack_node" pkg="icetrack" type="icetrack_node" output="screen" required="true">
    </node>
</launch>
