<launch>
    <!-- Load parameters from YAML -->
    <rosparam file="$(find icetrack)/config/general.yaml" command="load"/>
    <rosparam file="$(find icetrack)/config/navigation.yaml" command="load" ns="navigation"/>
    <rosparam file="$(find icetrack)/config/mapping.yaml" command="load" ns="mapping"/>

    <!-- Launch node -->
    <node 
        name="mapping_node" pkg="icetrack" type="mapping_node" output="screen" required="true">
    </node>

    <!-- Launch node -->
    <node 
        name="navigation_node" pkg="icetrack" type="navigation_node" output="screen" required="true">
    </node>

    <!-- Launch node -->
    <node 
        name="rosbag_fixed_rate_node" pkg="icetrack" type="rosbag_fixed_rate_node" output="screen" required="true">
    </node>
</launch>