<launch>
    <!-- Load parameters from YAML -->
    <rosparam file="$(find icetrack)/config/general.yaml" command="load"/>
    <rosparam file="$(find icetrack)/config/navigation.yaml" command="load" ns="navigation"/>
    <rosparam file="$(find icetrack)/config/mapping.yaml" command="load" ns="mapping"/>

    <!-- Rosbag node requres sim time -->
    <param name="use_sim_time" value="true" />

    <!-- Launch RViz with config file -->
    <node 
        name="rviz" pkg="rviz" type="rviz" output="screen" 
        args="-d /home/oskar/icetrack/src/icetrack/config/rviz.rviz" />


    <!-- Launch node -->
    <node 
        name="rosbag_node" pkg="icetrack" type="rosbag_node" output="screen" required="true">
    </node>
</launch>